body {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #5157b0;
}

#map {
    grid-column: 2;
    height: 96vh;
    border: 5px solid #5157b0;
    border-radius: 30px;
    left: 0.3125rem;
}

header {
    grid-row: 1;
}

.menu {
    grid-column: 1;
    display: grid;
    grid-template-rows: 24% 15% 56% 5%;
    height: 96vh;
    border: 0.313rem solid #5157b0;
    border-radius: 30px;
    # background-color: #aadaff; 
    background-image: url("../stadium_photo.JPG");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.premier_logo {
    width: 12rem;
    height: auto;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 1rem;
    color: #e5e6ec;
}

.title2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #e5e6ec;
}

.title3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e5e6ec;
}

.search-container {
    justify-self: center;
    grid-row: 2;
    width: 22rem;
    height: 3.75rem;
    background-color: #454E53;
    border-radius: 30px;
    margin-top:0.5rem;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

    .search input {
        width: 100%;
        font-size: 1.563rem;
        border: none;
        background-color: transparent;
        color: white;
    }

        .search input:focus {
            outline: none;
        }

    .search i {
        color: white;
        font-size: 1.563rem;
        cursor: pointer;
    }

.clubs-list-container {
    grid-row: 3;
    justify-self: center;
    width: 22rem;
    height: 15rem;
    background-color: transparent;
    backdrop-filter: blur(5px);
    #background-color: #e8e8e8;
    border-radius: 30px;
    border: 1px solid;  
}

.clubs-list {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
    height: 100%;
}

.club-container-background {
    width: 100%;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 18px;
    transition: background 0.2s ease-in-out;
}

    .club-container-background:hover {
        background-color: #687799;
    }

.club-container {
    display: flex;
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

.club-info-container {
    flex-grow: 1;
    padding: 0.5rem;
}

.club-name {
    display: inline;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    color: #e5e6ec;
}

.club-badge {
    display: inline;
    align-self: center;
    padding-right: 0.5rem;
}

.club-badge-image {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
}

.club-stadium {
    color: #85adad;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #fcf9f2;
}

.club-number-container {
    align-items: center;
    display: flex;
}

.club-number {
    width: 1.875rem;
    height: 1.875rem;
    background-color: #454e53;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.club-info-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0,0,0, 0.87);
}

.club-info-address, .club-info-website {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

    .club-info-address .circle, .club-info-website .circle {
        width: 1.875rem;
        height: 1.875rem;
        background-color: #1985A1;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
    }

.footer {
    grid-row: 4;
    text-align: center;
    font-size: 0.8rem;
    color: #5157b0;
}

/* width */
::-webkit-scrollbar {
    width: 1.25rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5c5c5b;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #a3a39b;
    }

.club-stadium-photo {
    margin-top: 0.5rem;
    width: 10rem;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .body {
        grid-template-columns: 1fr;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}