body {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #5157b0;
}

#map {
    grid-column: 2;
    height: 96vh;
    #width: 920px;
    border: 5px solid #5157b0;
    border-radius: 30px;
    left: 0.3125rem;
}

header {
    grid-row: 1;
}



.menu {
    grid-column: 1;
    display: grid;
    grid-template-rows: 20% 15% 60% 5%;
    height: 96vh;
    border: 5px solid #5157b0;
    border-radius: 30px;
    # background-color: #aadaff;
    background-image: url("../stadium_photo.JPG");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #e5e6ec;
}

.title2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #e5e6ec;
}

.title3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e5e6ec;
}

.search-container {
    justify-self: center;
    grid-row: 2;
    width: 22rem;
    height: 3.75rem;
    background-color: #454E53;
    border-radius: 30px;
    margin-top:0.5rem;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

    .search input {
        width: 100%;
        font-size: 25px;
        border: none;
        background-color: transparent;
        color: white;
    }

        .search input:focus {
            outline: none;
        }

    .search i {
        color: white;
        font-size: 25px;
        cursor: pointer;
    }

.stores-list-container {
    grid-row: 3;
    justify-self: center;
    width: 22rem;
    height: 20rem;
    background-color: transparent;
    backdrop-filter: blur(5px);
    #background-color: #e8e8e8;
    border-radius: 30px;
    bottom: 20px;
    border: 1px solid;
    
}

.stores-list {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

.store-container {
    display: flex;
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

.store-info-container {
    flex-grow: 1;
}

.store-address {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
    color: #e5e6ec;
}

.store-address span {
    display: block;
}

.store-phone-number {
    color: #85adad;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fcf9f2;
}

.store-number-container {
    align-items: center;
    display: flex;
}

.store-number {
    width: 30px;
    height: 30px;
    background-color: #454e53;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0, 0.87);
}

.store-info-status { /* not sure if needed */
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

    .store-info-address .circle, .store-info-phone .circle {
        width: 30px;
        height: 30px;
        background-color: #1985A1;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }

.store-container-background {
    width: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: background 0.2s ease-in-out;
}

    .store-container-background:hover {
        #background-color: #ccc;
        background-color: #687799;
    }

.footer {
    grid-row: 4;
    text-align: center;
    font-size: 0.8rem;
    color: #5157b0;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5c5c5b;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #a3a39b;
    }

.club-stadium-photo {
    #border: solid;
    margin-top: 0.5rem;
    width: 10rem;
    #height: 8rem;
    border-radius: 20px;
}


    